@import url(reset.css);

@font-face {
    font-family: 'BryantProBoldRegular';
    src: url('../fonts/bryantpro-bold-webfont.eot');
    src: url('../fonts/bryantpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bryantpro-bold-webfont.woff') format('woff'),
         url('../fonts/bryantpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/bryantpro-bold-webfont.svg#BryantProBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BryantProRegularRegular';
    src: url('../fonts/bryantpro-regular-webfont.eot');
    src: url('../fonts/bryantpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bryantpro-regular-webfont.woff') format('woff'),
         url('../fonts/bryantpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/bryantpro-regular-webfont.svg#BryantProRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html
{
	height: 100%;
}

body 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	line-height: normal;
}

/* general styling for headings */
h1 { font-size: 200%; font-weight: bold; }
h2 { font-size: 150%; }
h3 { font-size: 100%; }
p { font-size: 12px;}

h1, h2, h3, p
{
	margin-bottom: 20px;
}

#container
{
	width: 975px; 
	margin: 0 auto;
}

	#header
	{
	}
		#logo-box
		{
			float: left;
			width: 100%;
			position: relative;
		}
			#logo
			{
				width: 35%;
				float: left;
				height: 61px;
				display: block;
				padding: 22px 0 19px 41px;
				border-left: thin solid #CCC;
				
			}
			#logo-divider
			{
				background: url(../images/logo-divider.png) no-repeat;
				width: 670px;
				height: 16px;
				display: block;
				position: absolute;
				top: 40px;
				left: 146px;
				
			}
			#hotels
			{
				width: 60%;
				float: right;
				height: 103px;
				border-right: thin solid #CCC;
			}
				#top-five
				{
					margin: 24px 0 0 0;
					height: 40px;
				}
					#top-five ul
					{
						float: left;
					}
						#top-five ul li
						{
							float: left;
							margin-left: 25px;
						}
					
				#bottom-four
				{
					margin-left: 40px;
					margin-top: -10px;
				}
					#bottom-four ul
					{
						float: left;
					}
						#bottom-four ul li
						{
							float: left;
							margin-left: 30px;
						}
			
			
		#header-container
		{
			width: 100%;
			height: 409px;
			display: block;
			padding-top: 47px;
			background: #3f3161;
			margin-top: 3px;
			float: left;
		}
			#subheader-container
			{
				width: 100%;
				height: 373px;
				display: block;
				float: left;
			}
			#left-header
			{
				width: 68%;
				float: left;
			}
				#header-image
				{
					background: url(../images/header-image.png) no-repeat;
					width: 45.1%;
					height: 363px;
					float: left;
				}
				#header-text
				{
					width: 54.8%;
					float: right;
					margin-top: 40px;
					color: white;
				}
					#header-text p
					{
						margin-top: 25px;
						font-size: 14.29px;
						width:297px;
					}
			#search-module
			{
				width: 29%;
				float: right;
				height: 273px;
				border: solid 2px #7d758a;
				margin-right: 16px;
				background: white;
			}
				#search-module h3
				{
					color: white;
					width: 95.2%;
					height: 33px;
					display: block;
					background-color: #3f3161;
					padding-left: 14px;
					font-size: 20px;
					line-height: 33px;
				}
				#search-module form li
				{
					font-size: 10px;
					margin-left: 9px;
				}
					#search-module form select
					{
						width: 172px;
					}
					.find-now
					{
						background: url(../images/find-now.png) no-repeat;
						width: 93px;
						height: 25px;
						cursor: pointer;
					}
					#icon-text
					{
					}
					#icon-text li
					{
						width: 75%;
						height: 45px;
						padding: 10px 0 0 50px;
						border-bottom: solid 1px #CCC;
						margin: 5px 10px 0 10px;
					}
						#icon-text a
						{
							text-decoration: none;
							font-size: 10px;
							font-weight:bold;
							color: #3e3061;
						}
						#icon-text li:nth-child(3)
						{
							border-bottom: none;
						}
						#timeline
						{
							position: relative;
						}
							
								#timeline a.icon-detail
								{
									position: absolute;
									left: 100px;
									top: 15px;
									width: 100px;
									
								}
						#map
						{
							position: relative;
						}
							
								#map a.icon-detail
								{
									position: absolute;
									left: 100px;
									top: 20px;
									width: 100px;
									
								}
						#video
						{
							position: relative;
						}
							
								#video a.icon-detail
								{
									position: absolute;
									left: 100px;
									top: 8px;
									width: 100px;
									
								}
			#header-caption
			{
				font-family: 'BryantProBoldRegular';
				color: white;
				line-height: 36px;
				margin-left: 42px;
				font-size: 10px;
			}
			
			#header-bottom
			{
				width: 100%;
				float: left;
				height: 42px;
				display: block;
				background: #eeecf1;
			}
				#tag-line
				{
					width: 40%;
					float: left;
					margin-left: 41px;
					margin-top: 15px;
				}
					
				#social-icons
				{
					width: 55%;
					float: right;
					margin-top: 17px;
				}
					#social-icons ul
					{
						float: right;
						margin-right: 50px;
					}
						#social-icons ul li
						{
							float: left;
							margin-left: 10px;
						}
						
						
		#content
		{
			width: 899px;
			float: left;
			padding: 0 38px 0 38px;
			
		}
			#left-content
			{
				width: 51%;
				float: left;
			
			}
				#left-most-content
				{
					width: 90%;
					float: left;
				}
				
					#left-pointOne
					{
						width: 419px;
						height: 539px;
						margin-top: 34px;
					}
						#boxOne
						{
							width: 419px;
							height: 496px;
							background: #f4f3f5;
							position: relative;
						}
							#boxOne p
							{
								width: 360px;
								margin: 20px 0 0 16px;
							}
							.image-property
							{
								font-family: 'BryantProRegularRegular';
								font-size: 9.69px;
								color: #333333;
							}
							#arrowOne
							{
								background: url(../images/left-arrow.png) no-repeat;
								width: 8px;
								height: 15px;
								display: block;
								position: absolute;
								right: -8px;
								top: 55px;
							}
						.social-media
						{
							width: 419px;
							height: 41px;
							margin-top: 5px;
							background: #f4f3f5; 
							float: left;
							
						}
							.facebook
							{
								width: 50px;
								float: left;
								margin: 10px 0 0 15px;
							}
							.right-media
							{
								float: right;
								width: 70%;
								
							}
							.twitter
							{
								width: 40%;
								float: left;
								margin: 10px 10px 0 0;
							}
							.pinit
							{
								width: 50%;
								float: right;
								margin: 10px 15px 0 0;
							}
								
					#left-pointTwo
					{
						width: 419px;
						height: 516px;
						margin-top: 35px;
					}
						#boxTwo
						{
							width: 419px;
							height: 474px;
							background: #f4f3f5;
							position: relative;
						}
							#boxTwo p
							{
								width: 360px;
								margin: 20px 0 0 16px;
							}
							
							#arrowTwo
							{
								background: url(../images/left-arrow.png) no-repeat;
								width: 8px;
								height: 15px;
								display: block;
								position: absolute;
								right: -8px;
								top: 50px;
							}
							
					#left-pointThree
					{
						width: 419px;
						height: 456px;
						margin-top: 34px;
					}
						#boxThree
						{
							width: 419px;
							height: 413px;
							background: #f4f3f5;
							position: relative;
						}
							#boxThree p
							{
								width: 360px;
								margin: 20px 0 0 16px;
							}
							#arrowThree
							{
								background: url(../images/left-arrow.png) no-repeat;
								width: 8px;
								height: 15px;
								display: block;
								position: absolute;
								right: -8px;
								top: 52px;
							}
							
				#center-line
				{
					width: 4%;
					float: right;
					
				}
			#right-content
			{
				width: 47%;
				float: right;
				
				
			}
			
				#right-pointOne
					{
						width: 421px;
						height: 707px;
						margin-top: 34px;
					}
						#right-boxOne
						{
							width: 422px;
							height: 665px;
							background: #f4f3f5;
							position: relative;
						}
							#right-boxOne img
							{
								margin: 5px 0 0 6px;
							}
							#right-boxOne p
							{
								width: 360px;
								margin: 20px 0 0 16px;
							}
							#right-arrowOne
							{
								background: url(../images/right-arrow.png) no-repeat;
								width: 8px;
								height: 15px;
								display: block;
								position: absolute;
								left: -8px;
								top: 55px;
							}
					#right-pointTwo
					{
						width: 421px;
						height: 703px;
						margin-top: 34px;
					}
						#right-boxTwo
						{
							width: 422px;
							height: 660px;
							background: #f4f3f5;
							position: relative;
						}
							#right-boxTwo img
							{
								margin: 1px 0 0 2px;
							}
							#right-boxTwo p
							{
								width: 360px;
								margin: 20px 0 0 16px;
							}
							#right-arrowTwo
							{
								background: url(../images/right-arrow.png) no-repeat;
								width: 8px;
								height: 15px;
								display: block;
								position: absolute;
								left: -8px;
								top: 53px;
							}
			#video-box
			{
				width: 887px;
				float: left;
				height: 575px;
				padding: 6px 6px;
				background: #f4f3f5;
				margin-top: 20px;
				position: relative;
			}
				#video-title
				{
					width: 100%;
					height: 70px;
					display: block;
					float: left;
					background: white;
					margin-bottom: 1px;
				}
					#video-title img
					{
						margin: 21px 0 0 288px;
					}
				
				#video-box p
				{
					width: 760px;
					margin: 20px 0 0 70px;
					text-align: center;
					font-size: 12px;
				}
				.video-credit
				{
					font-family: 'BryantProRegularRegular';
					text-align: center;
					font-size: 9.69px;
					margin-top: 15px;
					color: #333333;
				}
				#bottom-arrow
				{
					background: url(../images/bottom-arrow.png) no-repeat;
					width: 17px;
					height: 9px;
					display: block;
					position: absolute;
					top: -9px;
					left: 48.8%;
				}
		#footer
		{
			width: 100%;
			height: 110px;
			float: left;
			font-size: 10px;
			margin-top: 30px;
		}
			#footer-links
			{
				width: 65%;
				float: left;
			}
				#footer-links ul li a
				{
					text-decoration: none;
					color: #696969;
				}
				#footer-links ul.about-hotel
				{
					float: left;
					margin-left: 3px;
				}
					#footer-links ul.about-hotel li
					{
						float: left;
						margin-left: 3px;
						border-right: solid thin #696969;
						padding-right: 3px;
					}
						#footer-links ul.about-hotel li:nth-child(5)
						{
							border: none;
						}
				#footer-tagline
				{
					width: 100%;
					float: left;
					margin-top: 25px;
					margin-left: 6px;
				}
					#footer-tagline a
					{
						text-decoration: none;
					}
					#be-member
					{
						
						float: left;
						font-size: 8px;
						color: #48166c;
						margin-left: 25px;
						font-weight: bold;
					}
					#footer-line
					{
						background: url(../images/footer-line.png) no-repeat;
						width: 574px;
						height: 8px;
						display: block;
						margin-top: 10px;
					}
					#footer-hotel
					{
						margin-left: 25px;
					}
					#footer-tagline ul
					{
						float: left;
					}
						#footer-tagline ul li
						{
							float: left;
							margin-right: 5px;
						}
							#footer-tagline ul li a
							{
								font-size: 8px;
							}
						
			
			#all-rights
			{
				width: 30%;
				float: right;
				width: 255px;
				margin-right: 15px;
				color: #696969;
			}
				#all-rights p
				{
					font-size: 10px;
				}
				
		#google-map-content iframe
		{
			border: solid 5px #FFF;
		}
			
				
